/* Connexion.css */

.connexion-container {
  max-width: 500px;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #8e8e8e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(227, 227, 227, 0.8);
}
  
  .connexion-form {
    display: flex;
    flex-direction: column;
  }
  
  .labelConn {
    margin-bottom: 8px;
  }

  .senregistrer{
    margin-bottom: 8px;
    text-decoration: none;
    color: #45a049;
    margin-left: 34%;
    font-weight: 500;
  }

  .h2Conn {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; /* Pour mettre le texte en majuscules */
  }
  
  .inputConn {
    padding: 10px;
    margin-bottom: 16px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .buttonConn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.3em;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttonConn:hover {
    background-color: #45a049;
  }
  